In [2]:
import pandas as pd
import numpy as np
import sklearn

In [3]:
songs = pd.read_csv('SpotifyData.csv')

In [4]:
songs.head(3)

                            Tracks                         Artist  Success
0                 Poor Little Fool                   Ricky Nelson      1.0
1  Nel Blu Dipinto Di Blu (Volaré)               Domenico Modugno      1.0
2                         Patricia  Perez Prado And His Orchestra      1.0

In [63]:
artistGroups = songs.groupby('Artist')
songCounts = artistGroups.agg([np.sum], 'Success')
songCounts['Success'].sort_values(by='sum', ascending=False).head(5)

               sum
Artist
Drake         83.0
Taylor Swift  67.0
Glee Cast     65.0
The Beatles   59.0
Elton John    55.0

In [76]:
oneHitWonders = songCounts['Success'].where(songCounts['Success'] < 2)
oneHitWonders.head(10)

                             sum
Artist
"Little" Jimmy Dickens       1.0
"Pookie" Hudson              1.0
"Weird Al" Yankovic          NaN
'N Sync                      NaN
'N Sync                      0.0
'N Sync & Gloria Estefan     1.0
'Til Tuesday                 NaN
(+44)                        1.0
(The Preacher) Bobby Womack  1.0
1 Of The Girls               1.0